// $primary: #843bce;
// $secondary: #your-secondary-color;
// Replace with your actual color

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  gap: 5rem;
  align-items: center;
}

.wrapper {
  position: relative;
  // display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 1350px;

  @media (max-width: 960px) {
    flex-direction: column;
  }
}

.title {
  font-size: 42px;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  // color: $primary;

  @media (max-width: 768px) {
    margin-top: 12px;
    font-size: 32px;
  }
}

.desc {
  font-size: 18px;
  text-align: center;
  max-width: 600px;
  // color: $secondary;

  @media (max-width: 768px) {
    margin-top: 12px;
    font-size: 16px;
  }
}

.toggle-button-group {
  display: flex;
  // border: 1.5px solid $primary;
  // color: $primary;
  font-size: 16px;
  border-radius: 12px;
  font-weight: 500;
  margin: 22px 0px;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.toggle-button {
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;

  // &.active {
  // background: $primary + 20;
  // }

  // &:hover {
  // background: $primary + 8;
  // }

  @media (max-width: 768px) {
    padding: 6px 8px;
    border-radius: 4px;
  }
}

.divider {
  width: 1.5px;
  // background: $primary;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  flex-wrap: wrap;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // grid-gap: 32px;
  // grid-auto-rows: minmax(100px, auto);
  // @media (max-width: 960px) {
  //     grid-template-columns: repeat(2, 1fr);
  // }
  // @media (max-width: 640px) {
  //     grid-template-columns: repeat(1, 1fr);
  // }
}
