/* Change colors in this file to style to your needs on a global level. 
Certain colors are used for different and multiply types of elements. 
For greater control over colors visit each components .scss file. */
.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}

.services {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services .textContainer {
  align-self: flex-end;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 738px) {
  .services .textContainer {
    align-self: center;
    text-align: center;
    flex-direction: column;
  }
}
.services .textContainer p {
  font-weight: 200;
  font-size: 18px;
  color: gray;
  text-align: right;
}
.services .textContainer hr {
  width: 300px;
  border: none;
  border-top: 0.5px solid #38909f;
}
@media (max-width: 738px) {
  .services .textContainer hr {
    width: 300px;
  }
}
.services .titleContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 738px) {
  .services .titleContainer {
    width: 100%;
  }
}
.services .titleContainer .title {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 738px) {
  .services .titleContainer .title {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
.services .titleContainer .title img {
  width: 300px;
  height: 100px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 738px) {
  .services .titleContainer .title img {
    width: 200px;
    height: 50px;
  }
}
.services .titleContainer .title h1 {
  font-size: 96px;
  font-weight: 100;
}
@media (max-width: 738px) {
  .services .titleContainer .title h1 {
    font-size: 36px;
  }
}
.services .titleContainer .title button {
  width: 300px;
  height: 100px;
  border-radius: 50px;
  background-color: #38909f;
  border: none;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}
@media (max-width: 738px) {
  .services .titleContainer .title button {
    font-size: 16px;
    width: 150px;
    height: 50px;
  }
}
.services .listContainer {
  flex: 2;
  display: flex;
  max-width: 1366px;
  margin: auto;
}
@media (max-width: 738px) {
  .services .listContainer {
    flex-direction: column;
    width: 100%;
  }
}
.services .listContainer .box {
  padding: 30px;
  border: 0.5px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 738px) {
  .services .listContainer .box {
    border: none;
    align-items: center;
    gap: 20px;
    padding: 10px;
  }
}
@media (max-width: 738px) {
  .services .listContainer .box p {
    display: none;
  }
}
.services .listContainer .box button {
  padding: 10px;
  background-color: orange;
  border: none;
  cursor: pointer;
}
@media (max-width: 738px) {
  .services .listContainer .box button {
    background-color: transparent;
    border: 1px solid orange;
    border-radius: 5px;
    color: orange;
    width: 50%;
    padding: 5px;
  }
}/*# sourceMappingURL=services.css.map */